#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

input,
button {
	border: solid black 1px;
	padding: 10px;
	height: auto;
	border-radius: 10px;
	font-size: medium;
}

button {
	cursor: pointer;
}
